/* Header styling */
header {
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/* Nav bar styling */
.topnav {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0, 2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #000;
  color: white;
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Contact page styling */
.contact-section {
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.contact-section img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container img {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  margin-bottom: 10px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-weight: bolder;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: center;
  background-color: white;
  color: black;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  opacity: 0.7;
}

/* About Us styling */
.about-section h1,
h2 {
  text-align: center;
}

.center-text {
  text-align: center;
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.team-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
}

.team-section img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 10px;
}

.team-container {
  padding: 0 16px;
}

.team-container::after,
.team-row::after {
  content: "";
  clear: both;
  display: table;
}

.team-title {
  color: grey;
}

.team-btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.team-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 650px) {
  .team-section {
    width: 100%;
    display: block;
  }
}

/* Products Styling */
.products-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.page-title {
  text-align: center;
  background-color: #000;
  padding: 10px;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card button:hover {
  opacity: 0.7;
}

/* Footer Styling */
.footer-section {
  border-radius: 10px;
  padding: 20px;
  background-color: #000;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 19px;
  color: white;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 10px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease-in;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background-color: #353935;
  width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  margin: -10px;
}

.footer-bottom p {
  font-size: 20px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: white;
}

.footer-bottom p a {
  color: Aqua;
  font-size: 20px;
  text-decoration: none;
}

/* Home page styling */
/* Slide Show Styling */
.home-section h1 {
  text-align: center;
  background-color: #000;
  padding: 10px;
  color: white;
  margin-top: 5px;
  border-radius: 10px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slides-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
